.Header {
    display: flex;
    align-items: center;
    text-align: left;
    line-height: 1px;
}

.Header-subtitle {
    line-height: 1.5;
}

.Header-image {
    width: 200px;
    padding: 50px;
}
