.Post-info {
    background-color: white;
    align-items: flex-start;
    text-align: left;
    font-size: small;
    line-height: 20px;
    padding: 30px;
    transition: margin 1s;

}

.Post-header {
    line-height: 2px;
}

.Post-title {
    line-height: 1.2;
}

.Post {
    border-radius: 10px;
    margin: 10px;
    width: 400px;
    overflow: hidden;
    display: inline-block;
    font-size: 0px;
    line-height: 0px;
    vertical-align: top;
    
}

.Post-image {
    width: 100%;
    object-fit: contain;
}

.Post-arrow {
    text-align: center;
}

.Post-heart {
    color: hotpink;
    font-size: 30px;
}

#Post-heart-like:hover {
    fill: hotpink;
}