.Post-info {
    background-color: white;
    align-items: flex-start;
    text-align: left;
    font-size: small;
    line-height: 20px;
    padding: 30px;

}

.Post-title {
    line-height: 1.2;
}

.Post {
    border-radius: 10px;
    margin: 10px;
    width: 400px;
    overflow: hidden;
    display: inline-block;
    font-size: 0px;
    line-height: 0px;
    
}

.Post-image {
    width: 100%;
    object-fit: contain;
}

.Image-liked {
    background-color: red;
    width: 60px;
    height: 30px;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}

.Image-unliked {
    background-color: black;
    width: 60px;
    height: 30px;
    color: white;
    border-radius: 5px;
    border: none;
}